   <!--Nav Bar-->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img id="logo" src="styles/Images/Inline-Logo.png">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">View Cart</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" id="purchase-success-content">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="success">
            <h1 style="text-align: center;">Purchase Successful!</h1>
            <p style="text-align: center;">You are now ready to take on COVID 19, your items will be shipped within 2-3 business days, we do not accept any returns</p>
            <img id="dollabill" src="styles/Images/dollabill.gif">
        </div>
        <div class="col-md-3"></div>

         <div class="footer">
        <footer>
            <p id="copyright">Copyright© Essy | Designed & Developed by the Green Team</p>
        </footer>
    </div>
