:root {
    --darkGreen: rgb(100, 156, 35);
    --lightGreen: rgb(202, 231, 169);
    --lightGrey: rgb(218, 218, 218);
    --darkGrey: #333333;
}


/* I made global colors at the top
feel free to change the shades
*/

.list-group-item {
    line-height: 2.5;
}

.footer {
    background-color: #333333;
    width: 100%;
    position: relative;
    padding: 20px;
    bottom: 0px;
    margin-top: 100px;
}

#copyright {
    color: lightgrey;
    padding-top: 20px;
    text-align: center;
    font-size: small;
}

#left-text {
    margin-left: 200px;
    margin-top: 200px;
}

#shoppic {
    align-items: center;
    width: 250px;
    height: 250px;
}

#productlisting {
    margin-left: 100px;
    margin-top: 100px;
    align-items: center;
}

#logo {
    width: 250px;
    height: 75px;
}

#homepagepic {
    height: 400px;
    width: 400px;
    margin-left: 800px;
    margin-top: -275px;
}

#product-row-3 {
    margin-bottom: 100px;
}

.navbar-nav {
    margin-left: 800px;
}

#dollabill {
    align-items: center;
    margin-left: 70px;
}

#success {
    margin-top: 50px;
}

.shopImages {
    width: 350px;
    height: 350px;
    margin-top: 15%;
    border-radius: 5px;
}

#viewdetails {
    opacity: 40%;
    background-color: white;
    color: black;
    width: 350px;
    padding: 20px 0px;
    margin-top: -85px;
    border-color: white;
    border-radius: 0;
}

#viewdetails:hover {
    opacity: 80%;
    width: 350px;
}

#shop-add-to-cart {
    background-color: rgb(202, 231, 169);
    border-color: rgb(202, 231, 169);
    color: black;
}

#shop-name {
    margin-top: -10px;
    ;
    font-size: 160%;
}

#shop-price {
    font-size: 15px;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 15px;
}

#carttitle {
    margin-top: 50px;
}

element.style {
    list-style: none;
}

li {
    list-style: none;
}

#checkoutbtn {
    margin-top: 50px;
}

#paymentform {
    align-items: center;
    margin-top: 100px;
    margin-left: 300px;
}

#givemoney {
    margin-top: 100px;
}

#submitpymt {
    background-color: grey;
}